@model BO.Pizza

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <partial name="_displayPizza"></partial>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
